<server description="Gateway">

    <featureManager>
        <feature>microprofile-2.1</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"
    />
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
    <keyStore id="defaultKeyStore" password="Liberty" />


    <webApplication type="war" id="gateway" location="gateway.war" contextRoot="/"/>

    <mpMetrics authentication="false"/>

    <cors domain="/hue/resetlights/"
          allowedOrigins="*"
          allowedMethods="GET"
          allowCredentials="true"
          exposeHeaders="*"/>


    <cors domain="/hue/"
          allowedOrigins="*"
          allowedMethods="GET"
          allowCredentials="true"
          exposeHeaders="*"/>

    <cors domain="/hue/lights"
          allowedOrigins="*"
          allowedMethods="GET"
          allowCredentials="true"
          exposeHeaders="*"/>
</server>